/* здесь используйте глобальные переменные */
$base-white: #ffffff;
$black: #000000;
$base-black:#333333;
$base-grey:#BDBDBD;
$base-secondary:#F0EBFF;
$base-primary:#7859CF;
$primary-light:#9070EC;
$light-grey: #E2E2E2;
$active-button:#593CAC;
//background colors
$lightest-grey:#F8F8F8;
$flat-white:#F3EBE1;
$lavender:#EAE6FC;
$espresso: #E5E6E8;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

