/* здесь используйте глобальные переменные */

/* Colors */
$base-white: #ffffff;
$black: #000000;
$base-black: #333333;
$base-grey: #bdbdbd;
$base-secondary: #f0ebff;
$base-primary: #7859cf;
$primary-light: #9070ec;
$light-grey: #e2e2e2;
$active-button: #593cac;
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender: #eae6fc;
$espresso: #e5e6e8;
$primary-darker: #593cac;
$primary-opacity: rgba(120, 89, 207, 0.25);

/* Viewports */

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
