.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.navigation__toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  left: auto;
  background-color: $base-white;
  cursor: pointer;
  border: none;
  padding: 0;
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 16px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 5px 0 0 $black, 0 10px 0 0 $black;
}

.navigation--opened .navigation__toggle {
  background-color: $base-secondary;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation__wrapper {
  min-height: 225px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

.navigation__item {
  display: flex;
  border-top: solid 1px $base-secondary;
}

.navigation__item-link {
  position: relative;
  display: flex;
  justify-content: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: $base-black;
  margin: 0 auto;
  align-items: center;
  min-height: 57px;
  width: 100%;
  background-color: $base-white;

  &:active {
    background-color: $base-secondary;
  }
}

.navigation__item:last-child {
  border-bottom: solid 1px $base-secondary;
}

@media (max-width: $mobile-width-only) {
  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs {
    display: block;
    width: 100%;
  }

  .navigation--nojs .navigation__wrapper {
    position: relative;
    width: 100%;
    top: 0;
  }

  .navigation--closed .navigation__item {
    display: none;
  }
}

.navigation--nojs .navigation__item {
  display: block;
}

@media (min-width: $tablet-width) {
  .navigation {
    position: absolute;
    right: 140px;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__wrapper {
    position: static;
    min-height: 80px;
    display: flex;
  }

  .navigation__list {
    display: flex;
    padding-right: 50px;
  }

  .navigation__item {
    border-top: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .navigation__item-link {
    min-width: 103px;
    min-height: 78px;

    &:hover,
    &:focus {
      color: $base-primary;
    }

    &:active {
      color: $base-primary;
    }

    &--active {
      border-bottom: solid 2px $base-primary;
      color: $base-primary;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    right: 450px;
  }

  .navigation__list {
    gap: 20px;
    padding-right: 0;
  }

  .navigation__item-link {
    width: min-content;
  }
}
